.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    font-family: monospace;
}
.App .App-Name {
    font-size: 4rem;
    letter-spacing: 10px;
}
.App .Current-State {
    font-size: 2rem;
    letter-spacing: 10px;
}
.App .Inc-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: 10rem;
    letter-spacing: 3px;
    cursor: pointer;
}
